<% commit = @commit %>

<div class="row">
<div class="span16">

<div class="commit full-commit">
  <h1 class="commit-title"><%= commit.short_message %></h1>
  <div class="commit-desc"><p><%= commit.message %></p></div>

  <div class="commit-meta clearfix">
    <span class="sha-block">commit 
      <span class="sha"><%= commit.id %></span>
    </span>
    <div class="authorship">
      <img class="gravatar" height="24" src="https://secure.gravatar.com/avatar/3dffcb3d181fe9842dc4b4d34a8238ca?s=140&amp;d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-140.png" width="24">
      <span class="author-name">
        <%= commit.author %>
      </span>
      authored 
      <time class="js-relative-date">1 day ago</time>
    </div>
  </div>
<div>

<div id="files" class="diff-view">
<% commit.diffs.each do |diff| %>

  <div class="file">
    <div class="meta">
      <div class="info">
        <%= diff.a_path %>
      </div>
    </div>

    <div class="data">
      <%= render_diff(diff.diff) %>
    </div>
  </div>

<% end %>
</div>

</div>
</div>
