<% commit = @commit %>

<div class="row">
  <div class="span16">

    <div class="commit full-commit">
      <h1 class="commit-title"><%= commit.short_message %></h1>
      <div class="commit-desc"><p><%= commit.message %></p></div>

      <div class="commit-meta clearfix">
        <span class="sha-block">commit
          <span class="sha"><%= commit.id %></span>
        </span>
        <div class="authorship">
          <%= gravatar(commit.author.email) %>
          <span class="author-name">
            <%= commit.author %>
          </span>
          authored
          <time datetime="<%= commit.authored_date %>">
            <%= format_long_ago(commit.authored_date) %>
          </time>
        </div>
      </div>
    </div>

    <div id="files" class="diff-view">
    <% commit.diffs.each do |diff| %>

      <div class="file">
        <div class="meta">
          <div class="info">
            <h3><%= diff.a_path %></h3>
          </div>
        </div>

        <div class="data">
          <%= render_diff(diff.diff) %>
        </div>
      </div>

    <% end %>
    </div>

  </div>
</div>
