<% commit = @commit %>

<div class="row">
  <div class="span16">

    <div class="commit full-commit">
      <p class="commit-title"><%= commit.short_message %></p>
      <div class="commit-desc"><pre><%= commit.message %></pre></div>

      <div class="commit-meta clearfix">
        <span class="sha-block">commit
          <span class="sha"><%= commit.id %></span>
        </span>
        <div class="authorship">
          <%= gravatar(commit.author.email, 24) %>
          <span class="author-name">
            <%= commit.author %>
          </span>
          authored
          <time datetime="<%= commit.authored_date %>">
            <%= format_long_ago(commit.authored_date) %>
          </time>
        </div>
      </div>
    </div>

    <div id="files" class="diff-view">
    <% commit.diffs.each do |diff| %>

      <div class="file">
        <div class="meta">
          <div class="info">
            <span class="icon">
              <img alt="Txt" height="16" src="/img/txt.png" width="16">
            </span>
            <%= diff.a_path %>
          </div>
        </div>

        <div class="data">
          <%= render_diff(diff.diff) %>
        </div>
      </div>

    <% end %>
    </div>

  </div>
</div>
